

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    margin: 5px; 
}

.container {
    display: flex; 
    flex-direction: column;
}

#subhead {
  margin: 5vh 5vh; 
}

.q_col {
    margin: 10px;
}

.text_box {
    display: inline-block; 
    margin: 25px; 
    max-height: 300px; 
    max-width: 300px; 
}

#tell_me {

    margin-left: 25vw;
    margin-top: 5px; 
    margin-bottom: 5px;  
    padding: 5px 5px; 

}

footer {
    height: 25vh; 
}